* {
  /* CSS HEX */
  --rich-black: #001219ff;
  --midnight-green: #005f73ff;
  --dark-cyan: #0a9396ff;
  --vanilla: #e9d8a6ff;
  --gamboge: #ee9b00ff;
  --tiffany-blue: #94d2bdff;
  --alloy-orange: #ca6702ff;
  --rust: #bb3e03ff;
  --rufous: #ae2012ff;
  --auburn: #9b2226ff;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", Geneva,
    Verdana, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
}

.routesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

a {
  text-decoration: none;
  color: black;
}

.homeContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 95vh;
  justify-content: center;
}

.form {
  flex-direction: column;
  display: flex;
  background-color: #94d2bdff;
  width: 30vw;
  justify-content: center;
  padding: 1rem;
  border-radius: 4px;
}

.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  align-self: center;
}

.form-div button {
  margin-top: 1rem;
}

.activity-card {
  border: 2px solid black;
  padding: 2vw 2vh;
}

.edit-activity-form-div {
}

.edit-activity-form {
  display: none;
  flex-direction: column;
  border: 2px solid black;
  margin: 1vh 1vw;
}

.edit-routine-form {
  display: none;
  flex-direction: column;
  border: 2px solid black;
  margin: 1vh 1vw;
}

.add-activity-form {
  display: none;
  flex-direction: column;
}

.routine-card {
  border: 2px solid black;
  padding: 2vw 2vh;
  margin-top: 2vh;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #001219ff;
  color: #0a9396ff;
  width: 100vw;
  padding: 1vh 1vw;
}

#links {
  display: flex;
}

#links h2,
a {
  padding: 0 0.5vw 0 0.5vw;
  color: #0a9396ff;
}
