* {
  /* CSS HEX */
  --rich-black: #001219ff;
  --midnight-green: #005f73ff;
  --dark-cyan: #0a9396ff;
  --vanilla: #e9d8a6ff;
  --gamboge: #ee9b00ff;
  --tiffany-blue: #94d2bdff;
  --alloy-orange: #ca6702ff;
  --rust: #bb3e03ff;
  --rufous: #ae2012ff;
  --auburn: #9b2226ff;
  margin: 0;
  font-family: "Bebas Neue", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: rgba(0, 96, 115, 0.379);
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", Geneva,
    Verdana, sans-serif;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
}

.routesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 10vh;
}

a {
  text-decoration: none;
  color: black;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  text-align: center;
  /* justify-content: center; */
}

.homeContainer h1 {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 11vh;
}

.form {
  flex-direction: column;
  display: flex;
  background-color: #94d2bdff;
  width: 30vw;
  justify-content: center;
  padding: 1rem;
  border-radius: 4px;
  border: 1.5px solid #ee9b00ff;
}

.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  align-self: center;
}

.form-div h2 {
  font-size: medium;
}

.submitButton {
  align-self: center;
  margin-top: 1rem;
  width: 60px;
}

.activity-card {
  border: 1.5px solid #ee9b00ff;
  background-color: rgba(148, 210, 189, 0.554);
  padding: 2vw 2vh;
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  border-radius: 5px;
}

.edit-activity-form {
  display: none;
  flex-direction: column;
  border: 2px solid black;
  margin: 1vh 1vw;
  animation: fadeInDown;
  animation-duration: 1s;
}

.edit-routine-form {
  display: none;
  flex-direction: column;
  animation: fadeInDown;
  animation-duration: 1s;
}

.activityCard {
  padding: 1rem;
}

.activityCard h4 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bolder;
}

.activityList {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}

.activityList li {
  margin: 1vw;
}

.number {
  font-size: x-large;
}

.add-activity-to-routine-form {
  display: none;
  flex-direction: column;
  overflow: hidden;
  animation: fadeInDown;
  animation-duration: 1s;
  z-index: -1;
}

.add-routine-form {
  margin-top: 25vh;
}

.add-activity-form {
  display: flex;
  flex-direction: column;
  margin-top: 25vh;
}



.routine-card {
  border: 1.5px solid #ee9b00ff;
  background-color: rgba(148, 210, 189, 0.554);
  padding: 2vw 2vh;
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  z-index: 20;
  border-radius: 5px;
}

.card-width {
  width: 29vw;
}

.routine-card h4 {
  width: fit-content;
  align-self: center;
  font-weight: bolder;
  font-size: 20px;
  margin: 01rem auto;
  border-bottom: 2px solid #ee9b00ff;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #001219ff;
  color: #0a9396ff;
  width: 98vw;
  position: fixed;
  top: 0;
  padding: 1vh 1vw;
}

#links {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
}

#links h2,
a:last-of-type {
  margin-right: 0.7rem;
  padding: 0 0.5vw 0 0.5vw;
  color: #0a9396ff;
}